java/etl/build/
java/etl/.gradle/
java/hello-world/build/
java/hello-world/.gradle/
java/nucleotide-count/build/
java/nucleotide-count/.gradle/
java/word-count/build/
java/word-count/.gradle/
java/pangram/build/
java/pangram/.gradle/
java/anagram/build/
java/anagram/.gradle/
java/hamming/build/
java/hamming/.gradle/
